<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <!-- Necessário para rodar ASP.NET Core no IIS -->
        <add name="aspNetCore"
             path="*"
             verb="*"
             modules="AspNetCoreModuleV2"
             resourceType="Unspecified" />
      </handlers>

      <!-- Configuração do processo ASP.NET Core -->
      <aspNetCore processPath="dotnet"
                  arguments="Shop.Product.Api.dll"
                  stdoutLogEnabled="false"
                  stdoutLogFile="logs/stdout"
                  hostingModel="inprocess" />

      <!-- Libera request maior (opcional) -->
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="104857600" /> <!-- 100 MB -->
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
</configuration>
