<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <!-- Roteia tudo para o ASP.NET Core Module -->
            <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
        </handlers>

        <aspNetCore processPath="dotnet"
                    arguments="Shop.Cart.Api.dll"
                    stdoutLogEnabled="false"
                    stdoutLogFile="logs/stdout"
                    hostingModel="inprocess" />
    </system.webServer>
</configuration>

