
.navbar {
    padding-top: 0.85rem;
    padding-bottom: 0.85rem;
}
.navbar-brand {
    font-weight: 600;
    font-size: 1.4rem;
}
.nav-link {
    font-size: 1.07rem;
    padding-left: 0.9rem !important;
    padding-right: 0.9rem !important;
}
.nav-link:hover {
    color: #0d6efd !important;
}

footer {
    padding: 15px 0;
    background: #f8f9fa;
}

main {
    animation: fadeIn 0.2s ease-in-out;
}